@charset "UTF-8";

.find-a-distributor {

}
.find-a-distributor-form {
	padding-right: 15px;
}
.find-a-distributor-form {
	float: left;
	width: 40%;
	margin-right:2%;
	overflow: hidden;
	height : 500px;
	border: 1px solid #ccc;
	padding: 24px;
}
.found-distributors-map {
	float: left;
	width: 58%;
}
.find-a-distributor-form > select, .find-a-distributor-form > input, .find-a-distributor-form > label {
	display: block;
	margin-bottom: 10px;
	width: 100%;
}
.find-a-distributor-form > label {
	font-weight: bold;
}
.find-a-distributor-form > label:after {
	content: ":";
}
.find-a-distributor-form > input[type="submit"], .find-a-distributor-form > ul > li {
	margin-bottom: 25px;
}
.find-a-distributor-form > ul > li {
	list-style: none;
}
.found-distributor-street-address, .found-distributor-city, .found-distributor-territorial-unit, .found-distributor-country {
	display: inline;
}
.found-distributor-street-address:after, .found-distributor-city:after, .found-distributor-territorial-unit:after {
	content: ", ";
}
.found-distributor {
	cursor: pointer;
}
.found-distributor > * {
	margin-bottom: 10px;
}